:root {
  --primary-1: rgb(200, 230, 201);
  --primary-2: rgb(129, 199, 132);
  --primary-3: rgb(76, 175, 80);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

html,
body,
#app {
  min-height: 100vh;
}